
@{
    ViewBag.Title = "About";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Content/StyleSheet1.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <title>Zenc</title>
</head>

<body>
    <div class="all">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="color: white; border-bottom: 6px solid #3E6B7C;">Zenc</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active links" aria-current="page" href="http://localhost:59406/Home/Index" style="color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active links" aria-current="page" href="http://localhost:59406/Home/About" style="color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active links" aria-current="page" href="http://localhost:59406/Home/Contact" style="color: white; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Contact</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-primary" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        <div class="about-section">
            <div class="abut">
                <h1 class="abut">About us</h1>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4">
                        <div class="about">
                            <img src="https://pbs.twimg.com/media/E8q6sQjXsAIDChp.jpg" alt="" srcset="" width="250px">
                        </div>

                    </div>
                    <div class="col-md-8">
                        <p class="para2" style="opacity: 1; ">
                            WHAT IS TRONPAD?
                            TronPad is the only IDO platform built on and partnered with the Tron Network.
                            TronPad will empower cryptocurrency projects with the ability to distribute tokens and raise
                            liquidity.

                            WHY CHOOSE US?
                            Following the success of BSCPAD, the BSCPAD Team has partnered with Tron to bring its
                            popular low barrier to entry IDO solutions to to the Tron network that will incentivize and
                            reward all token holders in a way that is inclusive and fair.
                            One of the fundamental flaws of existing launchpads is acquiring enough tokens to
                            participate in the ecosystem can be prohibitive. This can be based on a first come first
                            serve basis where automated bots can fill the whitelist spots in a matter of seconds.
                            TronPad addresses this issue and is designed for fair decentralized launches.

                            The hallmark of TronPad is a two-round system, consisting of an open public lottery with no
                            requirement for holding tokens, a participation lottery for lower levels and guaranteed
                            allocation for higher levels. Any of the allocation that is not bought in time is then
                            offered on a 'first come first served' basis.
                        </p>
                    </div>
                </div>
            </div>
            <div class="zinc">
                <p class="para1" style="font-size: 25px;">The Zinc Tired System</p>
                <p class="para2" style="font-size: 20px;">TronPad offers a public white list lottery tier, weighted lottery tiers and guaranteed allocation tiers.</p>
            </div>
            <div class="cards">
                <div class="container">
                    <div class="card">
                        <div class="imgBx">
                            <img src="https://www.znc-coin.com/img/zen-coin.png">
                        </div>
                        <div class="contentBx">
                            <h2>Zinc Coin</h2><br><br><br>
                            <a href="#">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="contact">
            <p class="para1">Contact us</p>
            <div class="wrapper">
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </div>
                    <span>Facebook</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-twitter"></i>
                    </div>
                    <span>Twitter</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-instagram"></i>
                    </div>
                    <span>Instagram</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-github"></i>
                    </div>
                    <span>Github</span>
                </div>
                <div class="button">
                    <div class="icon">
                        <i class="fab fa-youtube"></i>
                    </div>
                    <span>YouTube</span>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

</body>

</html>



